body{
    text-align: center;
    display: grid;
    background-color: rgb(202, 202, 202);
    color: black;
    margin-top: 10%;

}

.btn{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}