body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    min-width: auto;
    height: 48px;
    display: block;
    padding: 6px;
}
.nav-items {
    float: right;
    padding: 0px 4px 0px 32px;
}
.nav {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
}

.nav-items a {
    color: #000000DE;
    text-decoration: none;
    padding-right: 15px;
    font-size: 15px;
}
.menu-icon {
    margin-right: 25px;
    opacity: 1;
    padding: 8px;
    outline: none;
    cursor: pointer;
}

.sign-in-button {
    color: white;
    background-color: #1A73E8;
    border: none;
    margin-right: 8px;
    padding: 9px 15px;
    border: 1px solid transparent;
    min-width: 80px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 195px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}
.search-area {
    display: block;
    padding: 20px;
}
.search-area input{
    border: 1px solid rgb(194, 194, 194);
    width: 500px;
    height: 45px;
}
@media (max-width: 400px){
    .search-area input{
        width: 300px;
    }
}

 footer {
     background-color: rgb(243, 242, 241);
     bottom: 0;
 }
.country {
    color:  #000000DE;
    border-bottom: 1px solid rgb(226, 225, 225);
    padding: 20px;
}

span a {
    text-decoration: none;
    padding: 5px;
}
.lang {
    margin-top: 30px;
    font-size: 15px;
}
.gray-btn button{
    color: #000000DE;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}

.foot{
    display: flex;
    align-items: flex-start;
    background-color: rgb(243, 242, 241);
    display: flex;
}

.foot a{
    text-decoration: none;
    color: #000000DE;
    padding: 20px;
}